
/* /會擋到task.css的設定/ */
/* .container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

.main {
  flex: 1;
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #eee;
  padding: 1rem;
}

.content {
  flex: 1;
  padding: 1rem;
} */
