.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

nav {
  display: flex;
  gap: 15px;
}

.btn {
  color: #ffffff;
  background-color: #9400FF;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #9e17fffe;
}
